VM_hostname	    VM_name		        VM_HPV_IP
ansible00       xinli_ansible00     9.111.250.61
ansible01       xinli_ansible01     9.111.250.61
ansible02       xinli_ansible02     9.111.250.61
ansible03       xinli_ansible03     9.111.250.61
ansible04       xinli_ansible04     9.111.250.61
ansible05       xinli_ansible05     9.111.250.61
ansible06       xinli_ansible06     9.111.250.61